.home {
    align-items: center;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    /* width: 100%; */
}

.homeFoto > img {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

@keyframes textoHome {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(10px);
    }
}

.home > h2 {
    font-size: 3rem;
    animation: textoHome 2.5s infinite ease-in-out alternate-reverse;
}

@media (max-width: 1048px) {
    .home > h2 {
        font-size: 2rem;
    }
}

@media (max-width: 877px) {

}